<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b587f5ea-46cc-4cc5-afdc-9bb626b642e8/resourcegroups/EmpowerIDEmployeeManagement20230227233949ResourceGroup/providers/Microsoft.Web/sites/EmpowerIDEmployeeManagement20230227233949</ResourceId>
    <ResourceGroup>EmpowerIDEmployeeManagement20230227233949ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://empoweridemployeemanagement20230227233949.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>92e93eff-e110-43cc-9d59-ccf51a2de167</ProjectGuid>
    <PublishUrl>https://empoweridemployeemanagement20230227233949.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EmpowerIDEmployeeManagement20230227233949</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>